# Laboratorio 1 - Aprendizaje de Máquina

## Miembros del grupo

| Nombre             | Código    | Correo electrónico           |
|--------------------|-----------|------------------------------|
| Adrian Velasquez   | 202222737 | a.velasquezs@uniandes.edu.co |
| Andres Botero Ruiz | 202223503 | a.boteror@uniandes.edu.co    |

# Preparación del entorno de trabajo

In [501]:
# Importar las librerías necesarias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.impute import SimpleImputer

In [502]:
# Folders and constants
DATA_FOLDER = 'data/'
DATA_FILE = DATA_FOLDER + 'data.csv'
TEST_FILE = DATA_FOLDER + 'test.csv'
MODELS_FOLDER = 'models/'
MODEL = MODELS_FOLDER + 'model.pkl'

## Lectura de los datos

In [503]:
# Leer el archivo CSV con los datos de entrenamiento
df = pd.read_csv( DATA_FILE )
df.head()

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Physical Activity Level,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level
0,isDx5313,"November 08, 2023",M,44.0,114.300,1.720,38.600,100.000,112/83,228.0,...,High,N,172.000,0.581,112.0,83.0,Hypertension Stage 1,121.0,19.880,HIGH
1,LHCK2961,20/03/2024,F,57.0,92.923,1.842,33.116,106.315,101/91,158.0,...,High,Y,184.172,0.577,101.0,91.0,Hypertension Stage 2,57.0,16.833,INTERMEDIARY
2,WjVn1699,2021-05-27,F,NaN,73.400,1.650,27.000,78.100,90/74,135.0,...,High,N,165.000,0.473,90.0,74.0,Normal,45.0,12.600,LOW
3,dCDO1109,"April 18, 2022",F,35.0,113.300,1.780,35.800,79.600,92/89,158.0,...,Moderate,Y,178.000,0.447,92.0,89.0,Hypertension Stage 1,94.0,14.920,HIGH
4,pnpE1080,01/11/2024,F,48.0,102.200,1.750,33.400,106.700,121/68,207.0,...,Low,Y,175.000,0.610,121.0,68.0,Elevated,128.0,18.870,HIGH

# Exploración de los datos

In [504]:
df.shape

(1639, 24)

In [505]:
# Obtener información general sobre el DataFrame
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1639 entries, 0 to 1638
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient ID                    1639 non-null   str
 1   Date of Service               1639 non-null   str
 2   Sex                           1639 non-null   str
 3   Age                           1571 non-null   float64
 4   Weight (kg)                   1566 non-null   float64
 5   Height (m)                    1578 non-null   float64
 6   BMI                           1586 non-null   float64
 7   Abdominal Circumference (cm)  1578 non-null   float64
 8   Blood Pressure (mmHg)         1639 non-null   str
 9   Total Cholesterol (mg/dL)     1571 non-null   float64
 10  HDL (mg/dL)                   1557 non-null   float64
 11  Fasting Blood Sugar (mg/dL)   1585 non-null   float64
 12  Smoking Status                1639 non-null   str
 13  Diabetes Status               1639 non-null   str
 14  Physical Activity Level       1639 non-null   str
 15  Family History of CVD         1639 non-null   str
 16  Height (cm)                   1571 non-null   float64
 17  Waist-to-Height Ratio         1563 non-null   float64
 18  Systolic BP                   1578 non-null   float64
 19  Diastolic BP                  1554 non-null   float64
 20  Blood Pressure Category       1639 non-null   str
 21  Estimated LDL (mg/dL)         1582 non-null   float64
 22  CVD Risk Score                1610 non-null   float64
 23  CVD Risk Level                1639 non-null   str
dtypes: float64(14), str(10)
memory usage: 307.4 KB

In [506]:
# Obtener estadísticas descriptivas de las columnas numéricas
df.describe()

,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Total Cholesterol (mg/dL),HDL (mg/dL),Fasting Blood Sugar (mg/dL),Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Estimated LDL (mg/dL),CVD Risk Score
count,1571.000000,1566.000000,1578.000000,1586.000000,1578.000000,1571.000000,1557.000000,1585.000000,1571.000000,1563.000000,1578.000000,1554.000000,1582.000000,1610.000000
mean,46.803186,85.666006,1.757439,28.424744,91.538861,199.043673,56.183558,117.836860,175.770082,0.522440,125.632637,82.887536,113.235896,18.227281
std,13.039479,21.712504,0.118012,7.309275,13.427985,59.388670,16.721702,32.379634,11.695880,0.085692,22.577463,15.503625,61.435291,10.767666
min,6.134000,13.261000,1.371000,4.317000,49.542000,-1.256000,0.008000,15.306000,136.498000,0.250000,49.914000,31.720000,-92.055000,-20.057000
25%,37.000000,67.100000,1.666500,22.600000,79.700000,150.000000,42.000000,92.000000,167.000000,0.453000,108.000000,71.000000,62.000000,15.150000
50%,46.000000,86.314000,1.760000,28.000000,91.200000,199.000000,56.000000,115.000000,176.000000,0.519000,125.000000,82.000000,112.000000,16.967000
75%,55.000000,104.801500,1.850000,33.963000,102.267250,250.000000,70.000000,139.000000,185.000000,0.582000,141.000000,93.000000,159.000000,18.900000
max,89.420000,158.523000,2.146000,53.028000,136.336000,385.679000,110.315000,219.667000,214.394000,0.804000,202.711000,134.066000,317.314000,114.980000

In [507]:
# Verificar los valores nulos en el DataFrame
df.isnull().sum()

Patient ID                       0
Date of Service                  0
Sex                              0
Age                             68
Weight (kg)                     73
Height (m)                      61
BMI                             53
Abdominal Circumference (cm)    61
Blood Pressure (mmHg)            0
Total Cholesterol (mg/dL)       68
HDL (mg/dL)                     82
Fasting Blood Sugar (mg/dL)     54
Smoking Status                   0
Diabetes Status                  0
Physical Activity Level          0
Family History of CVD            0
Height (cm)                     68
Waist-to-Height Ratio           76
Systolic BP                     61
Diastolic BP                    85
Blood Pressure Category          0
Estimated LDL (mg/dL)           57
CVD Risk Score                  29
CVD Risk Level                   0
dtype: int64

In [508]:
# Verificar duplicados totales
dupes = df.duplicated().sum()
print(f'Número de filas totalmente duplicadas: {dupes}')

Número de filas totalmente duplicadas: 151

In [509]:
# Obtener listado de columnas no-numéricas
non_num_cols = df.select_dtypes(include=['str']).columns
print(f'Columnas categóricas: {list(non_num_cols)}')

Columnas categóricas: ['Patient ID', 'Date of Service', 'Sex', 'Blood Pressure (mmHg)', 'Smoking Status', 'Diabetes Status', 'Physical Activity Level', 'Family History of CVD', 'Blood Pressure Category', 'CVD Risk Level']

In [510]:
# Obtener listado de columnas numéricas
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(f'Columnas numéricas: {list(num_cols)}')

Columnas numéricas: ['Age', 'Weight (kg)', 'Height (m)', 'BMI', 'Abdominal Circumference (cm)', 'Total Cholesterol (mg/dL)', 'HDL (mg/dL)', 'Fasting Blood Sugar (mg/dL)', 'Height (cm)', 'Waist-to-Height Ratio', 'Systolic BP', 'Diastolic BP', 'Estimated LDL (mg/dL)', 'CVD Risk Score']

# Preparación de los datos

Nuestro objetivo final será un modelo de predicción (regresión lineal) para la variable CVD Risk Score (puntaje de riesgo cardiovascular)

## Remover duplicados y valores nulos en la columna objetivo

In [511]:
# Remover duplicados totales
df_limpieza = df.drop_duplicates()
# Verificar nuevamente los duplicados totales
dupes = df_limpieza.duplicated().sum()
print(f'Número de filas totalmente duplicadas: {dupes}')

Número de filas totalmente duplicadas: 0

In [512]:
df_limpieza.shape

(1488, 24)

In [513]:
# Eliminar filas con valores nulos en la variable objetivo (CVD Risk Score)
df_limpieza = df.dropna(subset=['CVD Risk Score'])
# Verificar nuevamente los valores nulos en la variable objetivo
null_target = df_limpieza['CVD Risk Score'].isnull().sum()
print(f'Número de filas con valores nulos en CVD Risk Score: {null_target}')

Número de filas con valores nulos en CVD Risk Score: 0

In [514]:
df_limpieza.shape

(1610, 24)

## Transformar columnas de fecha -> Consistencia de los datos

La columna fecha no parece tener un formato consistente, por lo que la convertiremos a un formato de fecha estándar (datetime) para facilitar su manejo en el futuro

In [515]:
# Transformar la columna 'Date of Service' a formato datetime, manejando posibles inconsistencias en el formato de fecha

# TODO: tener en cuenta para el pipeline

# Primero, eliminamos espacios en blanco y caracteres no deseados
df_limpieza['Date of Service'] = (
    df_limpieza['Date of Service'].copy()
    .astype(str)
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

# Luego, intentamos convertir a datetime utilizando un formato mixto, permitiendo que pandas infiera el formato correcto
df_limpieza['Date of Service'] = pd.to_datetime(
    df_limpieza['Date of Service'],
    format='mixed',
    dayfirst=True,
    errors='coerce'
)

# Verificar si hay valores que no se pudieron convertir a fecha (serán NaT)
null_dates = df_limpieza['Date of Service'].isnull().sum()
print(f'Número de filas con valores "coerced": {null_dates}')

df_limpieza.head()

Número de filas con valores "coerced": 0

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Physical Activity Level,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level
0,isDx5313,2023-11-08,M,44.0,114.300,1.720,38.600,100.000,112/83,228.0,...,High,N,172.000,0.581,112.0,83.0,Hypertension Stage 1,121.0,19.880,HIGH
1,LHCK2961,2024-03-20,F,57.0,92.923,1.842,33.116,106.315,101/91,158.0,...,High,Y,184.172,0.577,101.0,91.0,Hypertension Stage 2,57.0,16.833,INTERMEDIARY
2,WjVn1699,2021-05-27,F,NaN,73.400,1.650,27.000,78.100,90/74,135.0,...,High,N,165.000,0.473,90.0,74.0,Normal,45.0,12.600,LOW
3,dCDO1109,2022-04-18,F,35.0,113.300,1.780,35.800,79.600,92/89,158.0,...,Moderate,Y,178.000,0.447,92.0,89.0,Hypertension Stage 1,94.0,14.920,HIGH
4,pnpE1080,2024-11-01,F,48.0,102.200,1.750,33.400,106.700,121/68,207.0,...,Low,Y,175.000,0.610,121.0,68.0,Elevated,128.0,18.870,HIGH

## Completitud de los datos

### Rellenar nulos

In [516]:
# Verificar la proporción de valores nulos en cada columna
((df_limpieza.isnull().sum()/df_limpieza.shape[0])).sort_values(ascending=False)

Diastolic BP                    0.051553
HDL (mg/dL)                     0.050932
Waist-to-Height Ratio           0.047205
Weight (kg)                     0.044720
Height (cm)                     0.042236
Total Cholesterol (mg/dL)       0.042236
Age                             0.041615
Height (m)                      0.037267
Systolic BP                     0.037267
Abdominal Circumference (cm)    0.036646
Estimated LDL (mg/dL)           0.035404
Fasting Blood Sugar (mg/dL)     0.032919
BMI                             0.031677
Patient ID                      0.000000
CVD Risk Score                  0.000000
Blood Pressure Category         0.000000
Smoking Status                  0.000000
Family History of CVD           0.000000
Physical Activity Level         0.000000
Diabetes Status                 0.000000
Date of Service                 0.000000
Blood Pressure (mmHg)           0.000000
Sex                             0.000000
CVD Risk Level                  0.000000
dtype: float64

In [517]:
# Extraer columnas con nulos y su tipo de dato
cols_with_nulls = df_limpieza.columns[df_limpieza.isnull().any()]
cols_with_nulls_types = df_limpieza[cols_with_nulls].dtypes
print("Columnas con valores nulos y su tipo de dato:")
for col, dtype in cols_with_nulls_types.items():
    print(f"{dtype}: {col}")

Columnas con valores nulos y su tipo de dato:
float64: Age
float64: Weight (kg)
float64: Height (m)
float64: BMI
float64: Abdominal Circumference (cm)
float64: Total Cholesterol (mg/dL)
float64: HDL (mg/dL)
float64: Fasting Blood Sugar (mg/dL)
float64: Height (cm)
float64: Waist-to-Height Ratio
float64: Systolic BP
float64: Diastolic BP
float64: Estimated LDL (mg/dL)

Dado que todas las columnas con nulos son numéricas, podemos usar un imputer para rellenar los valores nulos con la media de cada columna

In [518]:
# Imputer para rellenar los valores nulos en las columnas numéricas con la media

df_imputer = df_limpieza.copy()

si = SimpleImputer(missing_values=np.nan, strategy='mean')
si.fit(df_imputer[cols_with_nulls]) # hacemos fit utilizando las columnas con nulos
filled_cols = si.transform(df_imputer[cols_with_nulls]) # transformamos las columnas con nulos

# Reemplazamos las columnas originales con nulos por las columnas rellenadas
df_imputer[cols_with_nulls] = filled_cols

df_imputer.isnull().sum()

Patient ID                      0
Date of Service                 0
Sex                             0
Age                             0
Weight (kg)                     0
Height (m)                      0
BMI                             0
Abdominal Circumference (cm)    0
Blood Pressure (mmHg)           0
Total Cholesterol (mg/dL)       0
HDL (mg/dL)                     0
Fasting Blood Sugar (mg/dL)     0
Smoking Status                  0
Diabetes Status                 0
Physical Activity Level         0
Family History of CVD           0
Height (cm)                     0
Waist-to-Height Ratio           0
Systolic BP                     0
Diastolic BP                    0
Blood Pressure Category         0
Estimated LDL (mg/dL)           0
CVD Risk Score                  0
CVD Risk Level                  0
dtype: int64

In [519]:
# Verificamos nuevamente la proporción de valores nulos en cada columna
((df_imputer.isnull().sum()/df_imputer.shape[0])).sort_values(ascending=False)

Patient ID                      0.0
Date of Service                 0.0
CVD Risk Score                  0.0
Estimated LDL (mg/dL)           0.0
Blood Pressure Category         0.0
Diastolic BP                    0.0
Systolic BP                     0.0
Waist-to-Height Ratio           0.0
Height (cm)                     0.0
Family History of CVD           0.0
Physical Activity Level         0.0
Diabetes Status                 0.0
Smoking Status                  0.0
Fasting Blood Sugar (mg/dL)     0.0
HDL (mg/dL)                     0.0
Total Cholesterol (mg/dL)       0.0
Blood Pressure (mmHg)           0.0
Abdominal Circumference (cm)    0.0
BMI                             0.0
Height (m)                      0.0
Weight (kg)                     0.0
Age                             0.0
Sex                             0.0
CVD Risk Level                  0.0
dtype: float64

In [520]:
# Guardamos el DataFrame limpio en el DataFrame de limpieza para continuar con el proceso de modelado
df_limpieza = df_imputer.copy()
df_limpieza.head()

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Physical Activity Level,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level
0,isDx5313,2023-11-08,M,44.000000,114.300,1.720,38.600,100.000,112/83,228.0,...,High,N,172.000,0.581,112.0,83.0,Hypertension Stage 1,121.0,19.880,HIGH
1,LHCK2961,2024-03-20,F,57.000000,92.923,1.842,33.116,106.315,101/91,158.0,...,High,Y,184.172,0.577,101.0,91.0,Hypertension Stage 2,57.0,16.833,INTERMEDIARY
2,WjVn1699,2021-05-27,F,46.769697,73.400,1.650,27.000,78.100,90/74,135.0,...,High,N,165.000,0.473,90.0,74.0,Normal,45.0,12.600,LOW
3,dCDO1109,2022-04-18,F,35.000000,113.300,1.780,35.800,79.600,92/89,158.0,...,Moderate,Y,178.000,0.447,92.0,89.0,Hypertension Stage 1,94.0,14.920,HIGH
4,pnpE1080,2024-11-01,F,48.000000,102.200,1.750,33.400,106.700,121/68,207.0,...,Low,Y,175.000,0.610,121.0,68.0,Elevated,128.0,18.870,HIGH

## Unicidad

### Duplicados parciales

In [521]:
# Verificar duplicados parciales -> Patient ID
dupes_patient_id = df_limpieza.duplicated(subset=['Patient ID']).sum()
print(f'Número de filas con Patient ID duplicado: {dupes_patient_id}')

Número de filas con Patient ID duplicado: 261

In [522]:
# Evaluar posibilidad de diferentes filas con el mismo Patient ID
dupes_patient_id_date = df_limpieza.duplicated(subset=['Patient ID', 'Date of Service']).sum()
print(f'Número de filas con Patient ID y Date of Service duplicados: {dupes_patient_id_date}')

dupes_patient_id_age = df_limpieza.duplicated(subset=['Patient ID', 'Age']).sum()
print(f'Número de filas con Patient ID y Age duplicados: {dupes_patient_id_age}')

dupes_patient_id_date_age = df_limpieza.duplicated(subset=['Patient ID', 'Date of Service', 'Age']).sum()
print(f'Número de filas con Patient ID, Date of Service y Age duplicados: {dupes_patient_id_date_age}')

Número de filas con Patient ID y Date of Service duplicados: 261
Número de filas con Patient ID y Age duplicados: 261
Número de filas con Patient ID, Date of Service y Age duplicados: 261

Vemos que este parece ser un patrón común. Sin embargo, es necesario evaluarlos más a fondo.

In [523]:
# Extraer todas las instancias con Patient ID, Date of Service y Age duplicados para evaluar si se trata de filas completamente idénticas o si hay diferencias en otras columnas

dup_table = (
    df_limpieza[df_limpieza['Patient ID'].duplicated(keep=False)]
    .copy()
    .assign(repeticiones=df_limpieza.groupby('Patient ID')['Patient ID'].transform('size'))
    .sort_values(['repeticiones', 'Patient ID'], ascending=[False, True])
)
# Mostrar tabla
dup_table.head(20)

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level,repeticiones
17,AhYt1346,2020-09-28,M,41.0,71.3,1.73,23.800000,107.9,139/61,253.0,...,Y,173.000000,0.522502,139.0,82.878344,Hypertension Stage 1,146.000,16.770,HIGH,3
1227,AhYt1346,2020-09-28,M,41.0,71.3,1.73,23.800000,107.9,139/61,253.0,...,Y,173.000000,0.522502,139.0,82.878344,Hypertension Stage 1,146.000,-13.090,HIGH,3
1584,AhYt1346,2020-09-28,M,41.0,71.3,1.73,23.800000,107.9,139/61,253.0,...,Y,173.000000,0.522502,139.0,82.878344,Hypertension Stage 1,146.000,16.770,HIGH,3
130,BQvQ6431,2020-11-09,M,33.0,118.3,1.69,41.400000,72.1,116/93,171.0,...,N,210.554000,0.427000,116.0,93.000000,Hypertension Stage 2,97.000,17.500,LOW,3
1469,BQvQ6431,2020-11-09,M,33.0,118.3,1.69,41.400000,72.1,116/93,171.0,...,N,210.554000,0.427000,116.0,93.000000,Hypertension Stage 2,97.000,29.833,LOW,3
1544,BQvQ6431,2020-11-09,M,33.0,118.3,1.69,41.400000,72.1,116/93,171.0,...,N,210.554000,0.427000,116.0,93.000000,Hypertension Stage 2,97.000,17.500,LOW,3
850,CDsa2651,2025-06-23,M,39.0,73.3,1.74,24.200000,95.0,111/84,158.0,...,Y,174.000000,0.546000,111.0,84.000000,Hypertension Stage 1,91.000,26.604,INTERMEDIARY,3
1241,CDsa2651,2025-06-23,M,39.0,73.3,1.74,24.200000,95.0,111/84,158.0,...,Y,174.000000,0.546000,111.0,84.000000,Hypertension Stage 1,91.000,15.550,INTERMEDIARY,3
1566,CDsa2651,2025-06-23,M,39.0,73.3,1.74,24.200000,95.0,111/84,158.0,...,Y,174.000000,0.546000,111.0,84.000000,Hypertension Stage 1,91.000,15.550,INTERMEDIARY,3
246,CKKa5109,2023-03-18,M,51.0,85.9,1.78,27.100000,87.2,144/70,189.0,...,N,178.000000,0.490000,144.0,70.000000,Hypertension Stage 2,300.227,6.550,INTERMEDIARY,3
546,CKKa5109,2023-03-18,M,51.0,85.9,1.78,27.100000,87.2,144/70,189.0,...,N,178.000000,0.490000,144.0,70.000000,Hypertension Stage 2,300.227,16.400,INTERMEDIARY,3
862,CKKa5109,2023-03-18,M,51.0,85.9,1.78,27.100000,87.2,144/70,189.0,...,N,178.000000,0.490000,144.0,70.000000,Hypertension Stage 2,300.227,16.400,INTERMEDIARY,3
523,CYeS2965,2025-07-26,M,33.0,108.7,1.86,28.472249,96.9,130/95,250.0,...,Y,175.737219,0.521000,130.0,82.878344,Hypertension Stage 1,173.000,24.022,HIGH,3
999,CYeS2965,2025-07-26,M,33.0,108.7,1.86,28.472249,96.9,130/95,250.0,...,Y,175.737219,0.521000,130.0,82.878344,Hypertension Stage 1,173.000,17.780,HIGH,3
1118,CYeS2965,2025-07-26,M,33.0,108.7,1.86,28.472249,96.9,130/95,250.0,...,Y,175.737219,0.521000,130.0,82.878344,Hypertension Stage 1,173.000,17.780,HIGH,3
489,ChGR7779,2022-08-29,M,46.0,78.7,1.64,28.472249,105.5,137/76,196.0,...,Y,164.000000,0.643000,137.0,76.000000,Hypertension Stage 1,129.000,16.630,HIGH,3
1035,ChGR7779,2022-08-29,M,46.0,78.7,1.64,28.472249,105.5,137/76,196.0,...,Y,164.000000,0.643000,137.0,76.000000,Hypertension Stage 1,129.000,16.630,HIGH,3
1385,ChGR7779,2022-08-29,M,46.0,78.7,1.64,28.472249,105.5,137/76,196.0,...,Y,164.000000,0.643000,137.0,76.000000,Hypertension Stage 1,129.000,17.321,HIGH,3
347,DIVT3121,2023-08-17,M,36.0,106.2,1.76,34.300000,74.8,124/66,171.0,...,N,176.000000,0.425000,124.0,66.000000,Elevated,93.000,16.480,INTERMEDIARY,3
644,DIVT3121,2023-08-17,M,36.0,106.2,1.76,34.300000,74.8,124/66,171.0,...,N,176.000000,0.425000,124.0,66.000000,Elevated,93.000,16.826,INTERMEDIARY,3

Al hacer el detalle, podemos darnos cuenta que los duplicados parciales son repeticiones del mismo paciente, por lo general con 3 apariciones, donde la única diferencia es un CVD distinto. Para resolver esto, removeremos los duplicados con el valor de CVD que más se repite entre sus duplicados, o, de lo contrario, el promedio de los valores de CVD entre sus duplicados.

In [548]:
# Resolver duplicados parciales

def resolve_partial_dupes(group):
    """
    Resuelve los duplicados parciales para un grupo de filas con el mismo Patient ID. Si hay filas idénticas, se mantiene una sola. Si hay filas con diferentes valores de CVD Risk Score, se mantiene la fila con el valor de CVD que más se repite entre sus duplicados, o, de lo contrario, el promedio de los valores de CVD entre sus duplicados.
    :param group: DataFrame con las filas que tienen el mismo Patient ID
    :return: Una sola fila representativa para el grupo de duplicados parciales
    """
    if len(group) == 1:
        return group.iloc[0]

    counts = group['CVD Risk Score'].value_counts()
    if counts.max() > 1:
        return group.loc[group['CVD Risk Score'] == counts.idxmax()].iloc[0]
    else:
        row = group.iloc[0].copy()
        row['CVD Risk Score'] = group['CVD Risk Score'].mean()
        return row

print(f'Número de filas antes de resolver duplicados parciales: {df_limpieza.shape[0]}')
print('Número de duplicados parciales a resolver:', dupes_patient_id)

# Aplicar la función para resolver los duplicados parciales y crear un nuevo DataFrame con los resultados
df_resolved = (
    df_limpieza
        .groupby('Patient ID')
        .apply(resolve_partial_dupes)
        .reset_index()
)

# Verificar el número de filas después de resolver los duplicados parciales
print(f'Número de filas después de resolver duplicados parciales: {df_resolved.shape[0]}')
df_resolved.head(5)

Número de filas antes de resolver duplicados parciales: 1610
Número de duplicados parciales a resolver: 261
Número de filas después de resolver duplicados parciales: 1349

,Patient ID,Date of Service,Sex,Age,Weight (kg),Height (m),BMI,Abdominal Circumference (cm),Blood Pressure (mmHg),Total Cholesterol (mg/dL),...,Physical Activity Level,Family History of CVD,Height (cm),Waist-to-Height Ratio,Systolic BP,Diastolic BP,Blood Pressure Category,Estimated LDL (mg/dL),CVD Risk Score,CVD Risk Level
0,AEFC1294,2020-03-21,F,52.000000,109.700000,1.780,34.600,104.400,103/99,197.000000,...,High,N,178.000,0.587,103.00000,99.0,Hypertension Stage 2,113.190076,18.010,HIGH
1,AHTL6366,2020-03-03,F,46.769697,104.469000,1.995,25.390,86.894,164/90,198.971213,...,Low,Y,199.458,0.436,164.00000,90.0,Hypertension Stage 2,147.000000,18.458,HIGH
2,AHjK2744,2022-03-08,M,58.000000,85.880566,1.870,33.800,99.600,113/91,106.000000,...,Low,N,187.000,0.533,125.74471,91.0,Hypertension Stage 2,33.000000,16.530,HIGH
3,ALHn0227,2025-09-17,F,52.000000,107.800000,1.780,34.000,103.500,111/69,179.000000,...,Low,Y,178.000,0.581,111.00000,69.0,Normal,76.000000,15.930,HIGH
4,AMxU2442,2023-09-10,M,57.000000,116.772000,1.569,34.126,90.737,117/116,254.000000,...,Low,Y,156.854,0.578,117.00000,116.0,Hypertension Stage 2,164.000000,17.755,HIGH

## Consistencia de los datos

### Verificar valores categóricas

In [525]:
# Verificar que los valores categóricos sean consistentes

# Modelo LR

# Evaluación cuantitativa

# Evaluación cualitativa

# Conclusiones

# Uso del modelo - Dataset de prueba

In [526]:
# Leer el dataset de prueba
# test_df = pd.read_csv( TEST_FILE )
# test_df.head()